@charset "utf-8";
/* CSS Document */



p {
    color: red;
   
}

h1 {
	
	color:blue;
	
	}
	
nav{padding-top:1px;font-size:16px;line-height:3}

/* nav ul è la barra di navigazione */

nav ul{display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0;padding:0;list-style:none;background:#0066ff;background:linear-gradient(to bottom,#0066ff,#0033ff)}

nav li{margin:0}

nav a{display:block;padding:0 12px;border-right:1px solid #bb1600;border-bottom:none;border-left:1px solid #b21203;background:#0066ff;background:linear-gradient(to bottom,#0066ff,#0033ff);color:#fff;text-decoration:none}

nav a:focus,nav a:hover{background:#000066;background:linear-gradient(to bottom,#0000cc,#000066)}

nav .sel a{background:#720000;background:linear-gradient(to bottom,#580000,#720000)}nav b{font-weight:400}@media only screen and (max-width:520px){nav{font-size:13px}

nav a{padding:0 6px}}.capt{margin:.5em 0 1.5em 0;color:#333;font-style:italic;line-height:1}.note,.update{margin-bottom:1em;padding:6px;border:3px solid #e3e0d1;background:#f3f3e6}.note p{margin-bottom:1em}.note p+p{margin:1em 0 0}.error strong{color:#930;font-weight:700}.update{margin:1em 0;padding:0 6px;border:3px solid #e3e0d1;background:#f3f3e6}p.update{padding:6px}.update p{margin:.5em 0}

/*#main dl{margin-top:0}.meta{margin:1em 0;color:#666}.reviews .meta{clear:both}.pager{margin:.5em 0 1.5em;padding:0;list-style:none;color:#666}.pager li{margin:0}.pager li a{margin:0 0 0 .25em}.review{clear:left}.review dd{margin:0}.review img{float:left;margin:0 6px 6px 0}.book{display:block;float:left;margin:.25em 12px 6px 0;padding:4px;border:1px solid #ccc}#recent{margin-top:2em}#recent div{margin:0 0 2em}p.more{text-align:right}#feed img{display:inline;vertical-align:middle}#feed a:active img,#feed a:focus img,#feed a:hover img{background-color:#e3e0d1}@media only screen and (max-width:843px){#feed{text-align:left}}#bsa p{clear:both;font-size:13px;text-align:right}@media only screen and (max-width:843px){#bsa{float:left;min-height:236px;width:260px;margin-right:10px}}@media only screen and (max-width:611px){#bsa{float:none;clear:both;min-height:0;margin-right:0}}@media only screen and (max-width:520px){#bsa{margin:0 auto 10px}}#search-form{display:-webkit-flex;display:-ms-flexbox;display:flex;margin-left:auto}#search-form>[role]{display:-webkit-flex;display:-ms-flexbox;display:flex}#search-form [type=search]{max-width:200px;border:none}#search-form [type=search]:focus{box-shadow:0 0 2px 1px rgba(0,0,0,.6) inset}#contact-form{padding:12px;border:3px solid #e3e0d1;background:#f3f3e6}.submitarea{margin:1em 0 0}@media only screen and (max-width:520px){#search-form{padding:8px}#search-form>[role]{-ms-flex:1;-webkit-flex:1;flex:1}#search-form input.txt{max-width:none}}.two-columns{clear:both;padding:0;list-style:none}.two-columns li{float:left;width:49%}.two-columns li:nth-child(even){float:right}#archiveftr{clear:both;padding-top:1em}.extbl{margin:1em 0 1em 1px;border:1px solid #555;border-spacing:0;border-collapse:collapse;border-width:1px 0 0 1px}.extbl td,.extbl th{padding:2px 6px;border:1px solid #555;border-width:0 1px 1px 0}.extbl td[scope]{font-weight:700}.table1 .headers td{font-weight:700;text-align:center}.unstyled{margin:1em 0;border:none}.unstyled th{text-align:center}.unstyled td,.unstyled th{padding:.25em;border:none;vertical-align:middle}blockquote.example[cite]::after{display:block;padding-top:.25em;border-top:1px dotted #999;content:"URI: " attr(cite)}div.example,form.example{margin:1em 0}div.example label{display:inline;font-weight:400}.structural{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px,1px,1px,1px);padding:0;border:0}.clearfix::after{display:block;clear:both;content:""}*/


/*# sourceMappingURL=main.min.css.map */